---
import { getCollection, CollectionEntry } from "astro:content";
import Icon from "astro-icon";
import { services_list } from "../../data";
import { trim } from "~/utils/utils";
import slugify from "limax";

export const getStaticPaths = async () => {
  const paths = services_list.map((post) => {
    return {
      params: {
        slug: slugify(post.service_name),
      },
      props: {
        post,
      },
    };
  });
  return paths;
};
type Props = {
  post: CollectionEntry<"services">;
};
const { post } = Astro.props;

// const { Content } = await post.render();
import Layout from "../../layouts/PageLayout.astro";
import TabComponent from "~/components/CardTabs";
const meta = {
  title: "Case studies",
  description: "The latest stories about Starship Shield.",
  dontUseTitleTemplate: true,
};
const { service_name, href, definition, problem_list, solution_list } = post;
---

<Layout meta={meta}>
  <section class="bg-white dark:bg-gray-900">
    <div
      class="grid max-w-5xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 set:text={`What is a ${service_name}`} class="max-w-2xl mb-4 h1" />

        <p class="max-w-2xl mb-6 p2" set:text={definition} />
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"
          alt="mockup"
        />
      </div>
    </div>
  </section>

  <div class="mx-auto max-w-5xl p-4 mb-12">
    <h1 class="h2 mx-auto text-center mb-4">What problem does it solve?</h1>
    <p class="p2 text-center mb-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, illo!
    </p>
    <TabComponent tabData={problem_list} client:load />
  </div>
  <div class="mx-auto max-w-5xl p-4 mb-12">
    <h1 class="h2 mx-auto text-center my-8">What do you get?</h1>

    <div class="mx-auto w-full grid grid-cols-1 md:grid-cols-12 gap-8">
      {
        solution_list.map(({ title, body }) => (
          <div class="block w px-6 py-10 col-span-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <h5 set:text={title} class="mb-4 h3 font-thin text-primary" />
            <p set:text={body} class="p1" />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
