---
import Layout from "../../../layouts/PageLayout.astro";
import Cta from "~/components/Cta.astro";
import { CollectionEntry } from "astro:content";
import { case_study_list } from "../../../data";
import slugify from "limax";
import { Picture } from "@astrojs/image/components";

export const getStaticPaths = async () => {
  const paths = case_study_list.map((case_study) => {
    return {
      params: {
        slug: slugify(case_study.name),
      },
      props: {
        case_study,
      },
    };
  });
  return paths;
};

type Props = {
  case_study: CollectionEntry<"any">;
};
const { case_study } = Astro.props;

// const { Content } = await case_study.render();
const meta = {
  title: "Success Stories",
  description: "Latest stories from our clients about us, Starship Shield.",
  dontUseTitleTemplate: true,
};
const { name, hero, youtube, case_numbers, card, img, video } = case_study;
---

<Layout {meta}>
  <section class="bg-white dark:bg-gray-900">
    <section
      class="pt-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
    >
      <a
        href={hero.cta_link}
        class="inline-flex cursor-pointer justify-between items-center py-1 px-1 pr-4 mb-7 text-sm bg-gray-100 rounded-full"
        role="alert"
      >
        <span
          class="text-xs bg-primary-600 rounded-full text-primaryf px-4 py-1.5 mr-3"
          >New</span
        >
        <span class="text-sm font-medium" set:text={hero.cta} />
        <svg
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <h1 class="mb-4 h1" set:text={hero.title} />
      <p class="mb-8 p1 lg:text-xl sm:px-16 xl:px-48" set:text={hero.body} />
    </section>
  </section>
  {
    video ? (
      <section class="max-w-5xl rounded-md mb-12 mx-auto p-4">
        <iframe
          style="aspect-ratio: 16/9;"
          src={youtube.link}
          title={youtube.title}
          frameborder="0"
          class="w-full mx-auto rounded-md hidden md:block"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
        <iframe
          style="aspect-ratio: 16/9;"
          src={youtube.link}
          title={youtube.title}
          frameborder="0"
          class="w-full mx-auto block md:hidden rounded-md"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        />
      </section>
    ) : (
      <div class="max-w-5xl rounded-md mb-12 mx-auto p-4">
        <div class="    rounded-md">
          <Picture
            class="mx-auto rounded-md border border-primary"
            src={img.link}
            width={800}
            height={800}
            widths={[400, 768]}
            sizes="100vw, 432px"
            aspectRatio="1600:900"
            alt="sa"
          />
        </div>
      </div>
    )
  }
  <!-- -->
  <section
    class="relative px-4 md:px-6 pb-12 md:pb-16 lg:pb-20 text-default max-w-6xl mx-auto"
  >
    <section class="flex flex-wrap justify-center -m-4 text-center">
      {
        case_study_list.map((item) => (
          <section class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center md:border-r md:last:border-none dark:md:border-slate-500">
            <section class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
              {item.number}
            </section>
            <section class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
              {item.label}
            </section>
          </section>
        ))
      }
    </section>
  </section>
  <section class="w-full max-w-5xl mx-auto rounded-md p-4">
    <section class="paper p-4 md:px-12 md:p-8 mx-auto rounded-md">
      <h1 class="h3 mb-8 leading-10 mt-2 text-primary font-bold">
        <span class="text-primary" set:text={card.title} />
      </h1>
      <section class="" set:html={card.body} />
    </section>
  </section>

  <Cta />
</Layout>
