---
import Layout from "../../../layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import Cta from "~/components/Cta.astro";

const client_win = [
  {
    title: "App IT - Faruk B.",
    body: `Starship Shield found major account takeover vulnerabilities. Their penetration test provided a clear path to resolve our security issues swiftly & effectively.`,
    img_url: "/images/success-story/1.png",
    case_study_url: "/story-type/client-stories/app-it",
    test_type: "Security Launchpad",
  },
  {
    title: "Boostroom - Alen V.",
    body: `I discovered Starship Shield when they we're just starting out. Skeptical, I let them do a penetration test that uncovered authorization issues my software had.`,
    img_url: "/images/success-story/2.png",
    case_study_url: "/story-type/client-stories/boostroom",
    test_type: "Security Launchpad",
  },
  {
    title: "OOX - Luka M.",
    body: "Starship Shield alerted us to security issues in our game 'Idle Hooligans'. They did a mobile penetration test that ensured the security of our fans.",
    img_url: "/images/success-story/3.png",
    case_study_url: "/story-type/client-stories/ooxcit",
    test_type: "Mobile App Assessment",
  },
  {
    title: "Origin - Nermin Ć.",
    body: "Referred by a friend, I chose Starship Shield for their great offer. They prevented account takeovers and helped us patch all found vulnerabilities.",
    img_url: "/images/success-story/4.png",
    case_study_url: "/story-type/client-stories/origin",
    test_type: "Web App Assessment",
  },
  {
    title: "Sklopi Posao - Ernad B.",
    body: "We started talking with Starship Shield after their team noted the security flaws we've had. Their penetration test ensured our customer security.",
    img_url: "/images/success-story/5.png",
    case_study_url: "/story-type/client-stories/sklopi-posao",
    test_type: "Web App Assessment",
  },
];
---

<Layout>
  <title>Success Stories | Starship Shield</title>
  <meta
    name="description"
    content="Discover advanced security solutions with Starship Shield. From robust boundary definition to tailored protection strategies, we're committed to securing your digital assets."
  />
  <article>
    <section
      class="flex flex-col gap-x-8 max-w-5xl px-4 pt-8 mx-auto lg:gap-4 lg:py-8"
    >
      <section class="mx-auto md:col-span-5 md:text-center">
        <h1 class="max-w-2xl mb-4 h1 text-black">
          Listen to what our <slug class="text-primary">clients</slug> have to say
          about us...
          <br />
        </h1>
        <p class="max-w-2xl my-6 p1">
          These are the stories about how our clients secured their software
          solutions and retained customers.
        </p>
        <section
          class="rounded-xl md:mx-auto md:rounded-md max-w-2xl py-2 flex flex-col md:flex-row gap-x-2 gap-y-4 justify-center items-center"
        >
          <section class="flex gap-x-4">
            <a
              class="link-case-active text-xs md:text-base py-4 md:p-0 w-40"
              href="/story-type/client-stories">Success Stories</a
            >
            <a
              class="link-case w-36 py-4 text-xs md:text-base"
              href="/story-type/client-wins">Client Wins</a
            >
          </section>
        </section>
      </section>
    </section>
    <section class="w-full max-w-5xl px-4 mx-auto mt-24">
      <h1 class="h2 max-w-lg mx-auto text-center mb-4">Success Stories</h1>
      <section class="grid grid-cols-1 md:grid-cols-3 w-full gap-x-8 gap-y-12">
        {
          client_win.map(
            (
              { title, body, img_url, case_study_url, test_type },
              idx: number
            ) => (
              <section>
                <Picture
                  class="w-full rounded-md"
                  src={img_url}
                  widths={[1600, 800]}
                  sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
                  aspectRatio="16:9"
                  alt="Picture showcasing the thumbnail of testimonials of our clients"
                />
                <section class="my-2 title-card">{test_type}</section>
                <section class="mb-4">
                  <h5 class="h3 mb-2 text-black" set:text={title} />
                  <p class="p2" set:text={body} />
                </section>
                <section class="flex gap-x-4 ">
                  <a href={case_study_url} class="btn-primary btn-sm">
                    View More
                  </a>
                </section>
              </section>
            )
          )
        }
      </section>
    </section>
    <Cta />
  </article>
</Layout>
