---
import Layout from "~/layouts/PageLayout.astro";
import Cta from "~/components/Cta.astro";
import Hero from "~/components/widgets/Hero.astro";
import { Picture } from "@astrojs/image/components";
import ProblemAstro from "../components/ProblemsCarousel";
import ClientSlider from "~/components/widgets/ClientSlider.tsx";

const reviews = [
  {
    title: `Explore stories of our clients and how they avoided major cyber disasters.`,
    paragraph: "Success Stories",
    img_url: "/images/success-story/hero.png",
    href: "story-type/client-stories",
  },
  {
    title: `See why our clients trust us to keep them future-ready for the next cyber attack.`,
    paragraph: "Client Wins",
    img_url: "/images/client_win/hero3.png",
    href: "story-type/client-wins",
  },
];

const resources = [
  {
    title: `Security Assessment Price Calculator`,
    paragraph: "Resources",
    img_url: "/images//hero.png",
    href: "/resources/assesment-calculator",
  },
  {
    title: `How To Make a Security Assessment Scope?`,
    paragraph: "Resources",
    img_url: "/images/android_blog.png",
    href: "/resources/scope-paper",
  },
];

const about_us = [
  {
    statistic: "5k+",
    title: "Secured Users",
    body: `Thousands of client application users are secured.`,
  },
  {
    statistic: "10+",
    title: "Secured Companies",
    body: `We've worked with over 10 companies, securing their services & software.`,
  },
];
const client_profiles = new Array(6).fill(0);
---

<Layout>
  <Hero
    callToAction={{ text: "Take Your First Step", href: "/learn-more" }}
    image={{
      src: import("~/assets/images/hero.jpg"),
      alt: "Official Logo of Starship Shield",
    }}
  >
    <Fragment slot="title">
      What's your first step to
      <span class="text-accent highlight">outer world</span> security?
    </Fragment>

    <Fragment slot="subtitle">
      <p class="max-w-lg">
        The start of the cybersecurity journey is tough, but we make it easy.
        Regardless of past cyber security neglect, we help you secure all your
        vulnerable points
      </p>
    </Fragment>
  </Hero>
  <ClientSlider client:load />
  <title>Home | Starship Shield</title>
  <meta
    name="description"
    content="The main home page for the landing page of Starship Shield"
  />
  <article>
    <div class="w-full max-w-5xl px-4 mx-auto mb-24">
      <div class="h2 text-center w-full max-w-lg mx-auto">
        What Our Clients Say About Us
      </div>
      <div class="grid w-full mx-auto grid-cols-1 md:grid-cols-2">
        <div class="md:w-96 my-16 col-span-1 md:mx-auto paper rounded-md">
          <Picture
            class="w-full rounded-t-md"
            src={"/images/success-story/hero.png"}
            widths={[1600, 800]}
            sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
            aspectRatio="16:9"
            alt="Picture showcasing client wins and Success Stories"
          />
          <div class="rounded-b-md p-4 pb-8 flex flex-col gap-y-4">
            <h1 class="h3 text-black">Success Stories</h1>
            <p class="p2 mb-4 -mt-2">
              Explore stories of our clients and how they avoided major cyber
              disasters.
            </p>

            <div class="w-full">
              <a href="/story-type/client-stories" class="btn-primary btn-md">
                View More</a
              >
            </div>
          </div>
        </div>
        <div class="md:w-96 my-16 col-span-1 md:mx-auto paper rounded-md">
          <div class="h-60 w-full grid grid-cols-3 gap-8">
            {
              client_profiles.map((i, idx: number) => (
                <Picture
                  class="w-full rounded-t-md"
                  src={`/images/client_profile/${idx + 1}.png`}
                  widths={[1600, 800]}
                  sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
                  aspectRatio="3:3"
                  alt="Picture showcasing client wins and Success Stories"
                />
              ))
            }
          </div>

          <div class="rounded-b-md p-4 pb-8 flex flex-col gap-y-4">
            <h1 class="h3 text-black">Client wins</h1>
            <p class="p2 mb-4 -mt-2">
              See why our clients trust us to keep them future-ready for the
              next cyber attack.
            </p>

            <div class="w-full">
              <a href="/story-type/client-wins" class="btn-primary btn-md">
                View More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full max-w-5xl px-4 mx-auto mb-24">
      <div class="h2 text-center w-full max-w-lg mx-auto mb-8">
        Are You Facing These Security Challenges?
      </div>
      <ProblemAstro client:load />
    </div>
    <div class="h-full max-w-5xl mx-auto px-8 gap-8 grid md:grid-cols-2 mb-24">
      <div class="col-span-1">
        <Picture
          class="w-full h-full md:my-auto rounded-md"
          src="/images/about/hero3.png"
          widths={[1600, 800]}
          sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
          aspectRatio="3:3"
          alt="Image describing one of our services"
        />
      </div>
      <div class="col-span-1">
        <div class="text-left mb-8">
          <p class="text-primary p1 font-semibold">
            Read the background story of our team
          </p>
          <h2 class="h2 my-4">Starship Shield Team</h2>
          <p class="p3">
            Our team consists of 4 enthusiastic security engineers all with
            unique stories that led them to creating Starship Shield.
          </p>
        </div>
        <div class="lg:flex relative">
          <div class="p-2 lg:p-0 mb-8">
            <div class="grid gap-y-8 gap-x-8 grid-cols-1 md:grid-cols-2 mb-8">
              {
                about_us.map(({ title, body, statistic }, idx: number) => (
                  <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
                    <h1
                      class="block antialiased tracking-normal font-semibold mb-4 text-5xl text-dark"
                      set:text={statistic}
                    />
                    <>
                      <h5 class="p1 font-semibold" set:text={title} />

                      <p
                        class="block antialiased text-base font-light leading-relaxed text-gray-700"
                        set:text={body}
                      />
                    </>
                  </div>
                ))
              }
            </div>
            <a href="/about-us">
              <button class="btn-primary btn-md" type="button"
                >Meet Our Team</button
              >
            </a>
          </div>
        </div>
      </div>
    </div>

    <Cta />
  </article>
</Layout>

<!-- <div class="w-full max-w-5xl px-4 mx-auto mb-24">
  <div class="w-full max-w-lg text-center h2 mx-auto mb-8">
    Ready To Improve Your Security?
  </div>
  {
    resources.map((item: any, idx: number) => (
      <div class="bg-paper w-full rounded-md grid grid-cols-1 md:grid-cols-3 mb-12">
        <div class="hidden md:block">
          <Picture
            class="w-full h-full  rounded-tl-md"
            src="/images/android_blog.png"
            widths={[1600, 800]}
            sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
            aspectRatio="3:2"
            alt="Image describing one of our services"
          />
        </div>

        <div class="md:col-span-2 px-4 py-6">
          <p class="p3" set:text={item.paragraph} />
          <h1 class="h3 font-semibold mt-2" set:text={item.title} />
        </div>
        <a
          href={item.href}
          class="px-4 col-span-3 rounded-b-md h-12 bg-primary flex items-center"
        >
          <div class="text-white mr-auto ">Learn More</div>
          <Icon
            name="tabler:arrow-right"
            class="w-3.5 h-3.5 inline-block text-white"
          />
        </a>
      </div>
    ))
  }
</div> -->
