---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Cta from "~/components/Cta.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import TestimonialCarousel from "../components/TestimonialCarousel";
import CtaCarousel from "../components/CtaCarousel";
const meta = {
  title: "Do you want amplified security? ",
  description:
    "Defining boundaries for a quality security assement is hard. We make it easy.",
  dontUseTitleTemplate: true,
};
const reviews = [
  {
    title: `Webouncer`,
    paragraph: `This product is for owners of high-traffic websites that want protection from downtime and any type of data theft.`,
    img_url: "/images/android_blog.png",
    href: "/products/web-bouncer",
  },
  {
    title: `Security Launchpad`,
    paragraph: `For companies that overlooked security and want to fix the problem. After taking the bundle, you'll be on your way to meeting security compliance.`,
    img_url: "/images/android_blog.png",
    href: "products/security-launchpad",
  },

  {
    title: `Ptaas`,
    paragraph: `For software development companies  that want to stop trading  off Time to Market speed for quality security.`,
    img_url: "/images/android_blog.png",
    href: "/products/ptaas",
  },
];
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <div
    class="flex flex-col justify-center items-center text-center gap-y-8 max-w-5xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 mb-24"
  >
    <h1 class="max-w-2xl mb-6 h1">
      Your first step to <br />outer-world security
    </h1>
    <p class="p1 mb-8 max-w-2xl">
      Here at Flowbite we compare a wide range of destinations, flights and
      hotels to conjure up cheap holidays for you to enjoy, time and time again.
    </p>
    <div class="w-full">
      <Picture
        class="h-96 w-100 rounded-md bg-gray-400 mx-auto"
        src={"/images/product11.svg"}
        widths={[1600, 800]}
        sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
        aspectRatio="16:9"
        alt="sa"
      />
    </div>
  </div>
  <div class="w-full max-w-5xl rounded-xl mx-auto px-4 mb-24">
    <h1 class="h2 mb-8 mx-auto text-center">What clients say about us</h1>
    <CtaCarousel client:load />
  </div>
  <div
    class="grid w-full mx-auto max-w-5xl p-4 gap-8 grid-cols-1 md:grid-cols-3 mb-20"
  >
    <div class="col-span-3">
      <div class="w-full mx-auto max-w-5xl">
        <h1 class="h2 mb-4 mx-auto text-left">Products we offer</h1>
        <div class="h-1 w-full rounded-full bg-gray-300"></div>
      </div>
    </div>
    {
      reviews.map((item: any, idx: number) => (
        <div class=" col-span-1 md:mx-auto">
          <Picture
            class="w-full h-64 rounded-md"
            src={item.img_url}
            widths={[1600, 800]}
            sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
            aspectRatio="16:9"
            alt="sa"
          />
          <div class="py-4 flex flex-col gap-y-4 mb-auto">
            <h1 class="h3" set:text={item.title} />
            <p class="p1" set:text={item.paragraph} />

            <div class="w-full">
              <a href={item.href} class="font-bold p1 text-primary">
                See Inside
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
