---
import Layout from "~/layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import CtaCarousel from "../components/CtaCarousel";
import Icon from "astro-icon";
import { tidycal_links } from "../data";
const data = [
  {
    icon: "tabler:building",
    title: "Product-Based Companies",
    paragraph:
      "For companies that specialize in developing and selling their own software solutions to clients. A place where security was always a traded for speed.",
  },
  {
    icon: "tabler:users",
    title: "Outsourcing Companies",
    paragraph:
      "For companies that provide software development services to other companies. A place where security doesn't always fit in the development process.",
  },
];

const reviews = [
  {
    icon: "tabler:building",
    title: "Product-Based Companies",
    paragraph:
      "For companies that specialize in developing and selling their own software solutions to clients. A place where security was always a traded for speed.",
  },
  {
    icon: "tabler:users",
    title: "Outsourcing Companies",
    paragraph:
      "For companies that provide software development services to other companies. A place where security doesn't always fit in the development process.",
  },
];

const ptaas_steps = [
  {
    title: `Greatly minimize the risk of a cyber attack`,
    body: `When your software is tested by our team and your developers are educated, chances of writing insecure code or having bad security practices are minimized.`,
  },
  {
    title: `Save time and money`,
    body: `If you truly commit to securing your customers data, you will gain leverage in the long-run, not having to spend money & time on recovering from cyber attacks`,
  },
  {
    title: `Begin working with enterprise companies`,
    body: `When your company gains a reputation for commiting to customer security, you will have better chances at working with enterprise companies.`,
  },
  {
    title: `Stop writing unsecure code`,
    body: `After we help your development team learn from their mistakes, correct security practices will be put in place to ensure no vulnerabilities.`,
  },
];
const launchpad_services = [
  "Web Application Penetration Test",
  "Mobile Application Penetration Test",
  "Network Penetration Test",
  "Social Engineering Education",
  "Physical Penetration Test",
  "DevSecOps Consulting",
];
---

<Layout>
  <title>Security Launchpad | Starship Shield</title>
  <meta
    name="description"
    content="Explore our security launchpad services for improving your security. We make defining boundaries easy and provide amplified security solutions."
  />

  <meta name="keywords" content="security launchpad, cybersecurity, penetration testing, secure code development, enterprise security" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://www.starshipshield.com/products/security-launchpad" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />


  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "Security Launchpad Services",
      "description": "Explore our security launchpad services for improving your security."
    }
  </script>

  <article>
    <div
      class="flex flex-col justify-center md:items-center md:text-center max-w-5xl px-4 pt-8 mx-auto lg:gap-8 xl:gap-0 lg:py-12 mb-8 md:mb-12"
    >
      <a
        href="/products/security-launchpad"
        class="flex md:inline-flex justify-between text-center items-center py-2 px-4 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
        role="alert"
      >
        <div
          class="text-sm font-medium"
          set:text={"More about services included"}
        />
        <svg
          class="ml-2 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <h1 class="max-w-2xl mb-6 h1 text-black">
        Your first step to <br />
        <span class="text-primary">outer-world</span> security
      </h1>
      <p class="p1 mb-8 max-w-2xl">
        We prioritize securing your critical digital assets based on your
        business needs. Afterward, we address every other potential attack
        vector, making you resilient to cyber-attacks.
      </p>
      <div class="flex gap-x-4 mb-8">
        <a href={tidycal_links.security_launchpad} class="btn-primary btn-md"
          >Contact Us</a
        >
      </div>
    </div>
    <div
      class="w-full max-w-5xl rounded-xl mx-auto px-4 grid gap-x-8 grid-cols-12 mb-24"
    >
      <div class="col-span-12 md:col-span-6 order-1 md:order-1 py-6 rounded-xl">
        <div>
          <div class="flex flex-col">
            <Icon
              name="ri:space-ship-fill"
              class="text-primary w-8 h-8 inline-block"
            />
            <h1 class="h2 my-4">Who Needs The <br />Security Launchpad?</h1>
            <div class="p1">
              Security Launchpad is a unique service offered to companies that
              want to deliver software fast and retain quality and security.
            </div>
            <div class="p1 text-primary italic">
              <br />Your sign to stop hackers once and for all.
            </div>
          </div>
          {
            data.map(({ icon, title, paragraph }) => (
              <div class="flex w-full flex-col gap-y-3 mt-8">
                <div class="flex items-center gap-x-2">
                  <Icon name={icon} class="text-primary w-8 h-8 inline-block" />
                  <p class="p1 font-semibold" set:html={title} />
                </div>
                <p class="  p1" set:html={paragraph} />
              </div>
            ))
          }
        </div>
      </div>
      <div
        class="rounded-md w-full h-full md:pt-12 col-span-12 md:col-span-6 order-2 md:order-2"
      >
        <Picture
          class="w-full rounded-md"
          src="/images/products/security-launchpad/hero.svg"
          widths={[1600, 800]}
          sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
          aspectRatio="3:3"
          alt="Picture showcasing client wins and Success Stories"
        />
      </div>
    </div>
    <div class="w-full max-w-5xl rounded-xl mx-auto px-4 mb-24">
      <h1 class="h2 pb-4 mx-auto md:text-center">What Clients Say About Us</h1>
      <CtaCarousel client:load />
    </div>
    <div class="w-full max-w-5xl mx-auto p-4 mb-8 md:mb-24">
      <div class="paper p-4 md:p-8 rounded-md">
        <h1 class="h3 text-center mb-8">After This Bundle You Will:</h1>
        <div class="grid grid-cols-12 w-full gap-4 md:gap-8">
          {
            ptaas_steps.map(({ title, body }, idx: number) => (
              <div class="col-span-12  md:col-span-6  w-full p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5
                  class="mb-2 p1 font-bold tracking-tight text-gray-900 dark:text-white"
                  set:text={title}
                />
                <p class="p1 text-gray-700 dark: " set:text={body} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div class="w-full max-w-5xl rounded-xl mx-auto px-4 mb-24">
      <div class="w-full border-main border-2 paper rounded-md pt-12">
        <div class="w-full px-8">
          <div class="flex flex-col md:flex-row gap-x-4" id="opt-page">
            <h1 class="h3 font-semibold">Security Launchpad</h1>
          </div>
          <h1 class="p2 font-normal" style="font-weight: normal;">
            Perfect for growing businesses that are looking to stop neglecting
            security
          </h1>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-8">
            {
              launchpad_services.map((title, idx: number) => (
                <ul class="flex items-center gap-x-2">
                  <Icon
                    name="tabler:circle-check"
                    class="w-6 h-6 text-primary"
                  />
                  <span>{title}</span>
                </ul>
              ))
            }

            <ul class="col-span-1 md:col-span-2 p2 flex items-center gap-x-2">
              <Icon
                name="tabler:circle-check"
                class="w-6 h-6 text-primary hidden md:block"
              />
              <li class="">
                Speed up the testing & remedy processes for <span
                  class="font-bold uppercase">30%</span
                > with our penetration test platform
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full info-primary pb-12 pt-4 px-8">
          <h1 class="h3">Money Back Guarantee If Not Satisfied</h1>
          <p class="py-4">
            We really appreciate your trust. If our services fall short of your
            expectations, we stand committed to a full refund.
          </p>
          <a
            href={tidycal_links.security_launchpad}
            class="btn-primary btn-md mt-4">Contact Us</a
          >
        </div>
      </div>
    </div>
  </article>
</Layout>

<script>
  const scrollToOptButton = document.getElementById("scrollToOptButton");
  const scrollToOptButton2 = document.getElementById("scrollToOptButton2");

  const scrollToOptButton3 = document.getElementById("scrollToOptButton2");

  const OptSection = document.getElementById("opt-page");
  scrollToOptButton.addEventListener("click", function () {
    // Scroll to the Opt section using smooth behavior
    OptSection.scrollIntoView({ behavior: "smooth" });
  });
  scrollToOptButton2.addEventListener("click", function () {
    // Scroll to the Opt section using smooth behavior
    OptSection.scrollIntoView({ behavior: "smooth" });
  });
  scrollToOptButton3.addEventListener("click", function () {
    // Scroll to the Opt section using smooth behavior
    OptSection.scrollIntoView({ behavior: "smooth" });
  });
</script>
