---
import Icon from "astro-icon";
import Layout from "../../../layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import { Fragment } from "astro/dist/runtime/server";

const before_list = [
  `One security mistake can put your whole company at risk.`,
  `There's no process to find out where your security is the weakest.`,
  `You can't do business with big clients that demand you meet security compliances and regulations.`,
  `Without mandatory security rules, you are at risk of compliance & regulation fines.`,
];

const after_list = [
  `You'll have a secure code template for creating your next product.`,
  `Our insights will help you identify and fix security issues effectively.`,
  `After using this bundle, you'll be compliant, allowing you to work with high-paying clients.`,
  `Setting up these security rules will eliminate the chances of breaking compliences.`,
];

const services = [
  {
    title: "Web App Pentest",
    body: `Assessing a web application for security weaknesses by simulating cyber-attacks, ensuring robust defense against real threats.`,
    href: "/services/web-app-pentest",
  },
  {
    title: "Mobile App Pentest",
    body: `Assessing a mobile app for security weaknesses by simulating cyber-attacks, ensuring robust defense against real threats.`,
    href: "/services/mobile-app-pentest",
  },
  {
    title: "Internal Network Pentest",
    body: `Assessing security vulnerabilities within your company network, ensuring robust defense against potential threats.`,
    href: "/services/internal-network-pentest",
  },
  {
    title: "External Network Pentest",
    body: `Assessing security vulnerabilities in your external-facing systems, ensuring robust defense against potential threats.`,
    href: "/services/external-network-pentest",
  },
  {
    title: "Social Engineering & Education",
    body: `Assessing vulnerabilities in your employee security, enhancing awareness and improving their defense against social engineering threats.`,
    href: "/services/social-engineering-education",
  },
  {
    title: "DevSecOps Consulting",
    body: `Integrating security into your development process, ensuring proactive identification and mitigation of security vulnerabilities.`,
    href: "/services/devsecops-consulting",
  },
];
const bonus_list = [
  {
    title: `Source Code Review`,
    body: `Process that assesses and evaluates the potential effects of disruptions to your business operations.`,
    href: "/services/source-code-review",
  },
  {
    title: `Custom Platform`,
    body: `Our custom platform helps you to monitor the testing process in real-time and track vulnerabilities we find immediately.`,
    href: "/services/ptaas",
  },
];
const data = [
  {
    icon: "tabler:building",
    title: "Service-Based Companies",
    paragraph:
      "For companies that provide software development services to others, where security doesn't always fit the margin of developing solutions.",
  },
  {
    icon: "tabler:users",
    title: "Product-Based Companies",
    paragraph:
      "For companies that focus on developing software solutions for their customers, where security is neglected for 'Time to Market' speed.",
  },
];
---

<Layout>
  <title>Security Launchpad Bundle | Starship Shield</title>
  <meta
    name="description"
    content="Read more about our security launchpad bundle, specifically curated for companies that neglected security and want to begin taking it seriously."
  />
  <article>
    <section class="bg-white">
      <div
        class="max-w-screen-xl md:text-center px-4 py-8 mx-auto lg:gap-8 lg:py-16"
      >
        <h1 class="max-w-3xl mx-auto mb-4 h1">
          Security Launchpad <span class="text-primary">Bundle</span>
        </h1>
        <p class="max-w-3xl mx-auto mb-6 p1 my-8">
          Our bundle guides you from your current state of security to a point
          where you can confidently say your security is at its peak.
        </p>
        <a
          href="/learn-more"
          class="btn-md btn-primary py-2.5 w-full text-xs font-semibold shadow-none"
        >
          Take Your First Step
        </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex"></div>
      <div class="mx-auto lg:max-w-5xl p-4 grid gap-x-8 grid-cols-12 mb-24">
        <div
          class="col-span-12 md:col-span-6 order-1 md:order-1 py-6 rounded-xl"
        >
          <div>
            <div class="flex flex-col">
              <Icon
                name="ri:space-ship-fill"
                class="text-primary w-8 h-8 inline-block"
              />
              <h1 class="h2 my-4">
                Who Needs The<br /><span class="text-primary"
                  >Security Launchpad</span
                >?
              </h1>
              <div class="p1">
                Security Launchpad is a service offered to companies that want
                to deliver software fast while retaining security.
              </div>
              <div class="p1 text-primary italic">
                <br />Stop hackers once and for all.
              </div>
            </div>
            {
              data.map(({ icon, title, paragraph }) => (
                <div class="flex w-full flex-col gap-y-3 mt-8">
                  <div class="flex items-center gap-x-2">
                    <Icon
                      name={icon}
                      class="text-primary w-8 h-8 inline-block"
                    />
                    <p class="p1 font-semibold" set:html={title} />
                  </div>
                  <p class="text-gray-400 p1" set:html={paragraph} />
                </div>
              ))
            }
          </div>
        </div>
        <div
          class="rounded-md w-full h-full col-span-12 md:col-span-6 order-2 md:order-2"
        >
          <Picture
            class="w-full rounded-md"
            src={"images/products/security-launchpad/hero.svg"}
            widths={[1600, 800]}
            sizes="(max-width: 600px) 100vw, (max-width: 900px) 50vw, 432px"
            aspectRatio="3:3"
            alt="Picture showcasing client wins and Success Stories"
          />
        </div>
      </div>
    </section>

    <div class="px-4 w-full max-w-5xl mx-auto mb-24">
      <h1 class="h2 mx-auto text-center my-8">Services you get</h1>
      <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-12">
        {
          services.map(({ title, body, href }, idx: number) => (
            <div class="info-primary px-4 py-4 h-68 rounded-md">
              <h1 set:text={title} class="h3 " />
              <p set:text={body} class="p2 py-4" />

              <div class="border-t pt-2 border-primary">
                <a href={href} class="text-primary ">
                  Learn More
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="px-4 w-full max-w-5xl mx-auto mb-24">
      <h1 class="h2 mx-auto text-center my-8">Bonuses You Get</h1>
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-12">
        {
          bonus_list.map(({ title, body, href }) => (
            <div class="info-secondary px-4 py-4 h-68 rounded-md">
              <h1 set:text={title} class="h3 " />
              <p set:text={body} class="p2 py-4" />

              <div class="border-t pt-2 border-secondary">
                <a href={href} class="text-secondary ">
                  Learn More
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="w-full max-w-5xl p-4 mx-auto mb-24">
      <div
        class="bg-primary w-full rounded-md shadow-xl overflow-hidden md:grid md:grid-cols-2 md:gap-4 lg:grid lg:grid-cols-2 lg:gap-4"
      >
        <div
          class="flex flex-col mb-4 text-white items-start pt-10 pb-12 px-6 sm:pt-16 sm:px-16 md:py-20 md:pr-0 lg:py-20 lg:pr-0 xl:px-20"
        >
          <h1 class="mb-4 h2">
            <span class="block text-white"
              >Ready to implement better security? Take your first step.</span
            >
          </h1>
          <p class="text-sm md:text-base">
            We help founders like you prioritize key security issues first.
            After our services, you'll have a strong security posture.
          </p>
          <div class="flex justify-cetner mt-8 gap-x-4 items-center">
            <a href="/learn-more" class="btn-white btn-sm">Take first step</a>
          </div>
        </div>
        <div class="w-full relative">
          <Picture
            class="translate-x-6 translate-y-6 rounded-md object-cover object-left-top lg:translate-x-4 lg:translate-y-4"
            src="/images/cta.svg"
            width={800}
            height={800}
            widths={[400, 768]}
            sizes="100vw, 432px"
            aspectRatio="300:300"
            alt="sa"
          />
        </div>
      </div>
    </div>
  </article>
</Layout>

<!-- <div class="px-4 w-full max-w-5xl mx-auto mb-24">
  <h1 class="h2 mx-auto text-center mb-8">
    What do you get with this service?
  </h1>
  <div class="w-full flex justify-center items-center gap-x-12">
    <div class="paper max-w-sm p-4 h-96 rounded-md">
      <div class="w-full"><p class="h3 text-left">Before</p></div>
      <div class="w-full">
        <ul role="list" class="space-y-5 my-7">
          {
            before_list.map((text: string) => (
              <li class="flex items-center ">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="rgb(220, 38, 38)"
                  class="bi bi-x"
                  viewBox="0 0 16 16"
                >
                  {" "}
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />{" "}
                </svg>

                <span
                  set:text={text}
                  class="font-normal p2 leading-tight ms-3"
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="paper h-96 max-w-sm rounded-md p-4">
      <div class="w-full"><p class="h3 text-left">After</p></div>
      <div class="w-full">
        <ul role="list" class="space-y-5 my-7">
          {
            after_list.map((text: string) => (
              <li class="flex items-center py-1">
                <svg
                  class="flex-shrink-0 w-4 h-4 text-primary"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
                <span
                  set:text={text}
                  class="font-normal p2 leading-tight ms-3"
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div> -->
