---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import PostTags from "~/components/blog/Tags.astro";

import { BLOG } from "~/config.mjs";
import type { Post } from "~/types";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";
import { getFormattedDate } from "~/utils/utils";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, "post") : "";
---

<article
  class={`w-full  md:max-w-none max-h-max h-full grid gap-4 md:gap-8 p-8 md:p-8 bg-paper  rounded-xl  ${
    image ? "" : ""
  }`}
>
  {
    image && (
      <a class="relative block group" href={link ?? "javascript:void(0)"}>
        <div class="relative h-0 pb-[56.25%] md:pb-[75%] md:h-72  overflow-hidden bg-gray-400   rounded shadow-lg">
          {image && (
            <Picture
              src={image}
              class="absolute inset-0 object-cover w-full h-full mb-6 rounded shadow-lg bg-gray-400  "
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              loading="lazy"
              decoding="async"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block" />
          <time class="name-title" datetime={String(post.publishDate)}
            >{getFormattedDate(post.publishDate)}</time
          >
          {
            post.category && (
              <>
                {" "}
                ·{" "}
                <a
                  class="capitalize hover:underline"
                  href={getPermalink(post.category, "category")}
                >
                  {post.category.replaceAll("-", " ")}
                </a>
              </>
            )
          }
        </span>
      </div>
      <h2 class="text-xl md:text-3xl leading-10 font-bold font-heading">
        {
          link ? (
            <a
              class="hover:text-primary  transition ease-in duration-200"
              href={link}
            >
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {
      post.excerpt && (
        <p class="flex-grow text-muted   text-xl ">{post.excerpt}</p>
      )
    }
    <footer class="mt-5">
      <PostTags tags={post.tags} />
    </footer>
  </div>
</article>
