---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import PostTags from "~/components/blog/Tags.astro";

import { BLOG } from "~/config.mjs";
import type { Post } from "~/types";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";
import { getFormattedDate } from "~/utils/utils";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, "post") : "";
---

<article
  class={`w-full  md:max-w-none max-h-max h-full p-4 md:p-8 paper  rounded-md  ${
    image ? "" : ""
  }`}
>
  {
    image && (
      <a class="block group mb-4" href={link ?? "javascript:void(0)"}>
        {image && (
          <Picture
            src={image}
            class="w-full h-60 rounded-md "
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="4:3"
            loading="lazy"
            decoding="async"
          />
        )}
      </a>
    )
  }
  <div class="">
    <header>
      <div class="mb-4">
        <span class="p2 h-8">
          <div class="flex gap-x-2 items-center">
            <Icon name="tabler:clock" class="w-5 h-5 inline-block" />
            <time class="name-title" datetime={String(post.publishDate)}
              >{getFormattedDate(post.publishDate)}</time
            >
          </div>
        </span>
      </div>
      <h2 class="h3 h-16 mb-4">
        {
          link ? (
            <a
              class="hover:text-primary  transition ease-in duration-200"
              href={link}
            >
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {post.excerpt && <p class="h-24 p2">{post.excerpt}</p>}
    <footer class="mt-5">
      <PostTags tags={post.tags} />
    </footer>
  </div>
</article>
